TZ=UTC
PORT=
ENABLE_HTTPS=false
URL=
DOMAIN=
WEB_DOMAIN=https://nihontechhub.com

# SWAGGER
SWAGGER_USERNAME=
SWAGGER_PASSWORD=

# MYSQL
MYSQL_ROOT_HOST=localhost
# MYSQL_ROOT_HOST=
MYSQL_PORT=
MYSQL_DATABASE=
MYSQL_USER_ROOT=
MYSQL_ROOT_PASSWORD=
MYSQL_USER=
MYSQL_PASSWORD=
ADMINER_PORT=

# MONGO
MONGO_HOST=localhost
# MONGO_HOST=
MONGO_PORT=
MONGO_INITDB_DATABASE=
MONGO_INITDB_ROOT_USERNAME=
MONGO_INITDB_ROOT_PASSWORD=
ME_PORT=

# MINIO
MINIO_HOST=localhost
# MINIO_HOST=
MINIO_PORT=
MINIO_UI_PORT=
MINIO_ACCESS_KEY=
MINIO_SECRET_KEY=
MINIO_PART_SIZE=

# RABBITMQ
RABBITMQ_DEFAULT_USER=
RABBITMQ_DEFAULT_PASS=
RABBITMQ_PORT=
RABBITMQ_UI_PORT=

# AUTH(JWT)
SECRET_KEY=
EXPIRES_IN=

# AUTH EXPIRES IN
RESET_PASSWORD_EXPIRES_IN=
ACTIVE_ACCOUNT_EXPIRES_IN=
REFRESH_TOKEN_EXPIRES_IN= # DAY
# BCRYPT ROUNDS
SALT_ROUNDS=

# MAIL MODULE
MAIL_USER=
MAIL_PASSWORD=zaa
MAIL_FROM=

# MINIO UPLOAD
MINIO_TMP_FOLDER=tmp-minio
MULTIPART_TMP_FOLDER=tmp-multipart
FILE_TMP_FOLDER=tmp
TZ=Asia/Ho_Chi_Minh
DEFAULT_PAGE_SIZE=10

#QUEUE AND REDIS
REDIS_HOST=redis
# REDIS_HOST=localhost
REDIS_PORT=
REDIS_PASSWORD=
REDIS_COMMANDER_PORT=
REDIS_COMMANDER_USER=admin
REDIS_COMMANDER_PASSWORD=

#Encrypt
ALGORITHMS =
ENCRYPTION_KEY =
IV_LENGTH =

#APPLE
KEY_APPLE_FILE_P8=
KEY_ID=
ISSUER_ID=
APP_BUNDLE_ID=

#GOOGLE
GOOGLE_APPLICATION_CREDENTIALS= #JSON FILE
#GOOGLE AUTH
GOOGLE_CLIENT_SECRET=
GOOGLE_CLIENT_ID=
GOOGLE_PACKAGE_NAME=

#FACEBOOK
FACEBOOK_CLIENT_ID=
FACEBOOK_CLIENT_SECRET=

#GRAFANA
GRAFANA_HOST=
# GRAFANA_HOST=localhost
GRAFANA_PORT=
GRAFANA_USER=
GRAFANA_PASSWORD=

#LOKI
LOKI_HOST=
# LOKI_HOST=localhost
LOKI_PORT=
LOKI_SERVER_GRPC_LISTEN_PORT=
LOKI_USER=
LOKI_PASSWORD=
LOKI_AUTH_ENABLED=true

#RESEND
RESEND_API_KEY=
RESEND_EMAIL_FROM=

#DOCKER
NET_WORKS=
CONTAINER_NAME=


